.btn {
   border: center;
   text-align: center;
   background-color:whitesmoke;  /*Her har jeg lagt inn css for kategori-knappene.  */
   padding: 18px 38px;
   font-size: 26px;
   cursor: pointer;
   display: inline-block;

}

.btn:hover {                     /*Her har jeg gjort slik at knappene får farge da musa går over de. */
    background: aqua;
    
}

nav {
    text-align: center;        /*Sentrert knapper*/
}


header {
    text-align: center;       /*Skriftstørrelse og sentrering av overskrift*/
    font-size: 40px;
    
    
    
}




article {
    margin: auto;
    font-size: 18px;
    width: 1000px;                  /*Dette er css for textboksen. */
    height: 300px;
    border-top: 3px aqua solid;
    border-left: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
}

@media only screen and (max-width: 1000px){      /*Responsivt for midre enheter. */
    article{
       width: 600px;
    }
}
@media only screen and (max-width: 600px){      /*Responsivt for midre enheter. */
    article{
       width: 350px;
    }
}
